<configuration debug="false">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.testcontainers" level="INFO"/>

    <logger name="com.github.dockerjava" level="${logLevel:-DEBUG}"/>
    <logger name="com.github.dockerjava.jaxrs" level="INFO"/>
    <logger name="com.github.dockerjava.netty" level="INFO"/>
    <logger name="com.github.dockerjava.httpclient5" level="INFO"/>
    <logger name="com.github.dockerjava.okhttp" level="INFO"/>
    <logger name="com.github.dockerjava.zerodep.shaded.org.apache.hc" level="INFO"/>
    <logger name="com.github.dockerjava.api.command.BuildImageResultCallback" level="INFO"/>
    <logger name="com.github.dockerjava.api.command.PullImageResultCallback" level="INFO"/>

    <root level="${logLevel:-INFO}">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
